requests
flask
werobot
flask-sqlalchemy
MySQL-python
simplejson
qiniu
gunicorn
git+git://github.com/torpedoallen/flask-security#egg=flask-security
git+git://github.com/torpedoallen/wechat-python-sdk#egg=wechat-python-sdk
